# Unity自动生成的文件夹，完全不需要版本控制
/[Ll]ibrary/
/[Ll]ibrary/**/*
/Library/
/Library/**/*

# 其他Unity生成的目录
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# 自动生成的VS/MD/Consulo解决方案和项目文件
ExportedObj/
.consulo/
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D生成的meta文件
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D生成的文件
*.unitypackage
sysinfo.txt

# Builds
*.apk
*.aab
*.app

# 系统文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db 